.heart
{
  .circle{
      position: absolute;
      width:  100px;
      height: 100px;
      background-color: red;
      border-radius: 50%;
  }
  .triangle{
    background-color: red;
    position: absolute;
    top: 42px;
    left: 42px;
    width: 100px;
    height: 100px;
    rotate: 45deg;

    
  }
}
