body{
  background-color: rgb(255, 255, 255);
  text-align: center;
  width:100%;
  height: 100%;
}

.pageTitle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40pt;
  font-weight: 1000;
  color: #000000;
  text-transform: uppercase;
}
.aboutMeSection
{
  height: 250pt;
  width: 400pt;
  margin: 5% auto;
  border:2px solid rgba(0,0,0,30%);
  border-radius: 10%;
}

.aboutMeTitle{
  
  
  padding-top: 20pt;
  color: black;
  font-size: 30pt;
  font-weight: 1000;
  text-transform: uppercase;
  text-decoration-line: underline;
  
  
}

.aboutMeText
{
  padding-top: 20pt;
  padding-left: 20pt;
  width: 400pt;
  font-size: 18pt;
  text-align: left;
}

.myProjectsSection
{
  margin: -2% auto;
  height: 400pt;
  width: 400pt;
  border: 2px solid rgba(0,0,0,30%);
  border-radius: 10%;
}

.myProjectsTitle{
  
  padding-top: 50pt;  
  color:black;
  font-size: 30pt;
  font-weight: 1000;
  text-transform: uppercase;
  text-decoration-line: underline;
}

.myProjectsText
{
  font-size: 18pt;
  padding-top: 20pt;
  padding-left: 20pt;
  text-align: left;
}








.myPic
{
  position: relative;
  top: 20pt;
  height: 300px;

  padding-top: 30pt;
  padding-bottom: 30pt;
  padding-left: 130pt;
  padding-right: 130pt;
  
  border-radius: 10%;
  border: 2px solid rgba(0,0,0,30%);
}