*{
 margin: 0px;
 padding: 0px; 
}

body{
  background-color: rgb(173, 173, 173);
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  text-rendering: optimizeLegibility;

  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.row
{
  display: inline-flex;
  margin-top: -32px;
  margin-left: -50px;
}

.row:nth-child(even){
  margin-left: 2px;
}

.hexagon{
  width: 100px;
  height: 110px;
  margin: 2px;
  background-color: #dbdbdb;
  clip-path: polygon(50% 0,100% 25%,100% 75%, 50% 100%, 0% 75%, 0% 25%);
  animation: animation 4s linear infinite;
  transition: 1s;
}
.hexagon:hover{
  background-color: #0f0;
  transition:0s;
}

@keyframes animation
{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{filter: hue-rotate(360deg);}
}

.hexagon:after
{
  content:'';
  position:absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  background-color: #dbdbdb;
  clip-path: polygon(50% 0,100% 25%,100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon.before
{
  content:'';
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.027);
  z-index: 2;
}

.pageTitle{
  width: 700px;
  margin: 0% -10%;

  position: absolute;
  left: 47%;
  top:2%;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 1000;
  color: #000000;
  text-transform: uppercase;
}

.wrapperPicInfo
{
  height: 300px;
  position: absolute;
  top: 100px;
  left: 100px;
  
}
.myPic{
  height: 300px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
}

.hoverToSeeMore{
  width: 500px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 100%;
  animation: colapseInfo 0.4s backwards;
  background-color: rgba(235, 235, 235, 0.699);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  color: black;
  font-weight: 1000;
  border-radius: 20px;
}
.hoverToSeeMore:hover{  
  animation: extandInfo 0.4s forwards;
}
@keyframes extandInfo {
  
  0%{
    height: 30px;
  }
  100%{
    height: 100%;
    
  }
}
@keyframes colapseInfo {
  0%{
    height: 100%;
  }
  100%{
    height: 30px;
  }
}

.info{
  height: 300px;
  width: 500px;
  
  position: absolute;
  top:0px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0);
  
}
.info:hover{
  animation: showText 1s forwards;
}

@keyframes showText {
  0%{
    color: transparent;
  }
  20%{
    color: transparent;
  }
  100%{
    color: black;
  }
}

.infoText{
  text-align: left;
  position: absolute;
  top: 40px; 
  margin-left: 20px;
}


